  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
    <body>
        <div class="container">
            <div class="row justify-content-center ">
            <div class="col-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates rerum quis! Voluptatibus, quod fugit tenetur et, in magnam tempore quas reprehenderit voluptas illum adipisci blanditiis? Beatae placeat facilis ipsa.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos sequi incidunt aliquam nostrum excepturi eveniet debitis placeat ipsa consequuntur rerum! Dolore id distinctio, autem neque non facere natus ut soluta!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, cum eius, neque, sapiente magni architecto delectus sint odio ullam repudiandae hic commodi. Ducimus saepe vero accusamus sint beatae explicabo adipisci.
            </div>
            <div class="col-4">
                <table class="table table-warning">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6"><button type="button" class="btn btn-warning">실시간 웹캠 시작</button></div>
            </div>
            </div>

        <!-- chartjs -->
        <div class="container">
            <h1>Some Line Charts loaded in Ajax!</h1>
        </div>
            <canvas id="myChart" width="500" height="200"></canvas>
    
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get("{% url 'app:line_chart_json' %}", function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line', data: data
                    });
                });
            </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
{% endblock %}